
/* Responsive Media Queries */
@media (max-width:1190px){
    section .content{
      width:85%;
    }
  }
  @media (max-width:1000px){
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .left{
      display: flex;
      justify-content:center;
      width:100%;
    }
    .about .about-details .right{
      width:90%;
      margin:40px 0;
    }
    .services .boxes .box{
      margin:20px 0;
      width:calc(100% / 2 - 20px);
    }
    .home .feature img{
      display: none;
    }
  }
  @media (max-width:900px){
    .about .left img{
      height:350px;
      width:350px;
    }
    .home .feature img{
      display: none;
    }
  }
  @media (max-width:750px){
     nav .navbar{
       width:90%;
     }
     nav .navbar .menu{
       position:fixed;
       left:-100%;
       top:0;
       background:#c0ff00;
       height:100vh;
       max-width: 400px;
       width:100%;
       padding-top:60px;
       flex-direction: column;
       align-items:center;
       transition: all 0.5s ease;
     }
     .navbar.active .menu{
       left:0;
     }
     nav .navbar .menu a{
       font-size:25px;
       display:block;
       color:rgb(0, 0, 0);
       text-transform: uppercase;
       font-weight: 900;
       margin:10px 0;
     }
     nav.sticky .menu a:hover{
       color:#fff;
     }
     nav .navbar .media-icons{
       display:none;
     }
     nav .menu-btn,
     .navbar .menu .cancel-btn{
       display:block;
       color: #fff;
     }
  
     .home .text-two{
       font-size: 65px;
     }
     .home .text-three{
      font-size: 35px;
    }
    .home .feature img{
      display: none;
    }
  
    .skills .skills-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .skills-details .text{
      width:100%;
      margin-bottom:50px;
    }
    .skills-details .boxes{
      justify-content:center;
      align-items: center;
      width:100%;
    }
  
    .services .boxes .box{
      margin:20px 0; 
      width:100%;
    }
  
    .contact .text{
      width:100%;
    }
  }
  
  @media (max-width:500px){
    .home .text-one{
      position: relative;
      top: -129px;
    }
    .home .text-two{
      font-size: 55px;
      position: relative;
      top: -119px;
      line-height: 1;
    }
    .home .text-three{
      font-size: 23px;
      position: relative;
      top: -96px;
    }
    .home .feature-img img{
      display: block;
      height: 530px;
      width: 337px;
      position: absolute;
      top: 137px;
      left: 16px;
      object-fit: cover;
    }
    .home .button button{
      display: none;
    }
    .skills-details .boxes .per{
      font-size: 50px;
      color:#c0ff00;
    }
  }
          